<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" type="text/css" href="styles/admin.css" />
    <title>Admin</title>
  </head>

  <body>
    <header>
      <div class="nav-bar">
        <img src="https://mitrevels.in/logo.png" alt="img" />
        <span class="nav-title">Logistics Portal</span>
        <a href="/logout" class="logout">Logout</a>
      </div>
    </header>
    <section class="main-redirect">
      <div class="redirect">
        <a href="/admin/items">Items</a>
        <a href="/admin/requests">Requests</a>
      </div>
    </section>
  </body>
</html>
