<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" type="text/css" href="styles/dashboard.css" />
    <title>Dashboard | Logistics Portal</title>
  </head>

  <body>
    <header>
      <div class="nav-bar">
        <img src="https://mitrevels.in/logo.png" alt="img" />
        <span class="nav-title">Logistics Portal</span>
        <a href="/logout" class="logout">Logout</a>
      </div>
    </header>
    <h2 class="main-header">Welcome, <%= cat_name %></h2>
    <section name="form">
      <div class="req">
        <form class="req-form">
          <h2>Request</h2>
          <div class="inputs">
            <input
              onkeyup="filter()"
              id="input-item"
              type="text"
              placeholder="Item"
            />
            <input id="input-q" type="text" placeholder="Quantity" />
            <input id="input-id" type="text" style="display: none;" />
          </div>
          <ul id="search-list">
            <% items.forEach((item) => { %>
            <li>
              <div
                id="<%= item.item_id %>"
                class="search-item item-hidden"
                onclick="update(this)"
              >
                <%= item.item_name %>
              </div>
            </li>
            <% }) %>
          </ul>
          <button type="button" onclick="testSubmit()">Submit</button>
        </form>
      </div>
    </section>
    <hr />
    <section name="list">
      <h2 class="header">History</h2>
      <ul class="req-list">
        <% requests.forEach((req) => { %>
        <li>
          <% if(req.req_status === 'PENDING') { %>
          <div class="list-item pending">
            <div class="req-date box">
              <div class="title">
                Date
              </div>
              <div class="content">
                <%= req.req_date %>
              </div>
            </div>
            <div class="req-status box">
              <div class="title">
                Status
              </div>
              <div class="content">
                <%= req.req_status %>
              </div>
            </div>
            <div class="req-item hidden">
              <div class="title">
                Item
              </div>
              <div class="content">
                <%= req.item_id %>
              </div>
            </div>
            <div class="req-item_name box">
              <div class="title">
                Item
              </div>
              <div class="content">
                <%= req.item_name %>
              </div>
            </div>
            <div class="req-q box">
              <div class="title">
                Quantity
              </div>
              <div class="content">
                <%= req.req_q %>
              </div>
            </div>
            <div class="req-reason box">
              <div class="title">
                Reason
              </div>
              <div class="content">
                <%= req.req_reason %>
              </div>
            </div>
            <div class="req-cancel box">
              <button
                type="button"
                id="<%= req.req_id %>"
                class="cancel-btn"
                onclick="cancel(this.id)"
              >
                Cancel
              </button>
            </div>
          </div>
          <% } else if(req.req_status === 'ACCEPTED') { %>
          <div class="list-item accepted">
            <div class="req-date box">
              <div class="title">
                Date
              </div>
              <div class="content">
                <%= req.req_date %>
              </div>
            </div>
            <div class="req-status box">
              <div class="title">
                Status
              </div>
              <div class="content">
                <%= req.req_status %>
              </div>
            </div>
            <div class="req-item hidden">
              <div class="title">
                Item
              </div>
              <div class="content">
                <%= req.item_id %>
              </div>
            </div>
            <div class="req-item_name box">
              <div class="title">
                Item
              </div>
              <div class="content">
                <%= req.item_name %>
              </div>
            </div>
            <div class="req-q box">
              <div class="title">
                Quantity
              </div>
              <div class="content">
                <%= req.req_q %>
              </div>
            </div>
            <div class="req-reason box">
              <div class="title">
                Reason
              </div>
              <div class="content">
                <%= req.req_reason %>
              </div>
            </div>
          </div>
          <% } else if(req.req_status === "REJECTED") { %>
          <div class="list-item rejected">
            <div class="req-date box">
              <div class="title">
                Date
              </div>
              <div class="content">
                <%= req.req_date %>
              </div>
            </div>
            <div class="req-status box">
              <div class="title">
                Status
              </div>
              <div class="content">
                <%= req.req_status %>
              </div>
            </div>
            <div class="req-item hidden">
              <div class="title">
                Item
              </div>
              <div class="content">
                <%= req.item_id %>
              </div>
            </div>
            <div class="req-item_name box">
              <div class="title">
                Item
              </div>
              <div class="content">
                <%= req.item_name %>
              </div>
            </div>
            <div class="req-q box">
              <div class="title">
                Quantity
              </div>
              <div class="content">
                <%= req.req_q %>
              </div>
            </div>
            <div class="req-reason box">
              <div class="title">
                Reason
              </div>
              <div class="content">
                <%= req.req_reason %>
              </div>
            </div>
          </div>
          <% } %>
        </li>
        <% }) %>
      </ul>
    </section>

    <script src="/js/dashboard.js" type="text/javascript"></script>
  </body>
</html>
