<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" type="text/css" href="styles/forgotpassword.css" />
    <title>Logistics Portal</title>
  </head>
  <body>
    <header>
      <div class="nav-bar">
        <img src="https://mitrevels.in/logo.png" alt="img" />
        <span class="nav-title">Logistics Portal</span>
      </div>
    </header>
    <section>
      <div class="main-container">
        <div class="header">
          Forgot Password?
        </div>
        <div class="pass-form">
          <input type="email" name="email" placeholder="Email" />
          <button type="button" onclick="submitEmail()">Submit</button>
          <a href="/">Back to Login</a>
        </div>
      </div>
    </section>
    <script type="text/javascript" src="/js/forgotPassword.js"></script>
  </body>
</html>
