<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Logistics Portal | Revels '20 | login page</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" type="text/css" href="/styles/style.css" />
  </head>

  <body>
    <div class="limiter">
      <div class="container-login100">
        <div class="wrap-login100">
          <div class="login100-pic js-tilt" data-tilt>
            <img src="https://mitrevels.in/logo.png" alt="IMG" />
          </div>

          <form class="login100-form validate-form">
            <span class="login100-form-title">
              <h1>Logistics Portal</h1>
            </span>
            <div class="input200">
              <div
                class="wrap-input100 validate-input"
                data-validate="Valid email is required: ex@abc.xyz"
              >
                <input
                  class="input100"
                  type="text"
                  name="cat_email"
                  placeholder="Email"
                />
                <span class="focus-input100"></span>
                <span class="symbol-input100"></span>
              </div>
            </div>

            <div
              class="wrap-input100 validate-input"
              data-validate="Password is required"
            >
              <input
                class="input100"
                type="password"
                name="cat_pass"
                placeholder="Password"
              />
              <span class="focus-input100"></span>
              <span class="symbol-input100"> </span>
            </div>

            <div class="container-login100-form-btn">
              <button class="login100-form-btn" id="submit_btn">
                Login
              </button>
            </div>

            <div class="text-center p-t-12">
              <span class="txt1">
                Forgot
              </span>
              <a class="txt2" href="/forgotpassword">
                Username / Password?
              </a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </body>

  <script type="text/javascript">
    window.addEventListener("load", function() {
      let submit_btn = document.getElementById("submit_btn");
      submit_btn.addEventListener("click", function(e) {
        e.preventDefault();
        let cat_email = document.querySelector('input[name="cat_email"]').value;
        let cat_pass = document.querySelector('input[name="cat_pass"]').value;

        data = {
          cat_email,
          cat_pass
        };

        fetch("/login", {
          method: "POST",
          headers: {
            "Content-Type": "application/JSON"
          },
          credentials: "include",
          body: JSON.stringify(data),
          redirect: "error"
        })
          .then(res => {
            return res.json();
          })
          .then(json => {
            if (json.success) {
              window.location.replace("/dashboard");
            } else {
              alert(json.msg);
            }
          })
          .catch(error => {
            alert("Internal Server Error. Contact SysAdm.");
            console.log(error);
          });
      });
    });
  </script>
</html>
