<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
    <link rel="stylesheet" type="text/css" href="../styles/admin.css" />
    <title>Admin-Items | Logistics Portal</title>
  </head>
  <body>
    <header>
      <div class="nav-bar">
        <img src="https://mitrevels.in/logo.png" alt="img" />
        <span class="nav-title">Logistics Portal : Admin</span>
        <a href="/admin/requests" class="logout">Requests</a>
        <a href="/logout" class="logout">Logout</a>
      </div>
    </header>
    <h2 class="main-header">Items</h2>
    <section class="items">
      <input
        type="text"
        placeholder="Item"
        id="input_item"
        onkeyup="filter()"
        class="input"
      />
      <ul class="list" id="search-list">
        <% items.forEach((item) => { %>
        <li>
          <div class="list-item" id="<%= item.item_id %>">
            <div class="id">
              <div class="title">
                ID
              </div>
              <div class="content">
                <%= item.item_id %>
              </div>
            </div>
            <div class="name">
              <div class="title">
                Name
              </div>
              <div class="content">
                <%= item.item_name %>
              </div>
            </div>
            <div class="q">
              <div class="title">
                Quantity
              </div>
              <div class="content">
                <%= item.item_q %>
              </div>
            </div>
            <div class="btn">
              <button
                id="btn<%= item.item_id %>"
                onclick="showModal(this.id)"
                class="update-btn"
              >
                Update
              </button>
              <button
                id="d_btn<%= item.item_id %>"
                onclick="showDelete(this.id)"
                class="delete-btn"
              >
                Delete
              </button>
            </div>
          </div>
        </li>
        <% }) %>
      </ul>
    </section>

    <div id="modal">
      <div class="modal-container" id="modal-update">
        <div class="close">
          <img
            src="/images/close-24px.svg"
            alt="Close"
            id="close-btn"
            onclick="closeModal()"
          />
        </div>
        <div class="modal-header">
          Update Item
        </div>
        <div class="modal-title">
          ID
        </div>
        <div class="modal-content" id="modal-id"></div>
        <div class="modal-title">
          Name
        </div>
        <div class="modal-content" id="modal-name"></div>
        <div class="modal-title">
          Quantity
        </div>
        <div class="modal-input" id="modal-q">
          <input type="text" id="update-q" name="update-q" />
        </div>
        <button type="button" onclick="updateItem()" id="modal-update-btn">
          Update
        </button>
      </div>
      <div class="modal-container" id="modal-delete">
        <div class="close">
          <img
            src="/images/close-24px.svg"
            alt="Close"
            id="close-btn"
            onclick="closeModal()"
          />
        </div>
        <div class="modal-header">
          Update Item
        </div>
        <div class="modal-title">
          ID
        </div>
        <div class="modal-content" id="modal-id-d"></div>
        <div class="modal-title">
          Name
        </div>
        <div class="modal-content" id="modal-name-d"></div>
        <div class="modal-title">
          Quantity
        </div>
        <div class="modal-content" id="modal-q-d"></div>
        <button type="button" onclick="deleteItem()" id="modal-delete-btn">
          Delete
        </button>
      </div>
    </div>
    <script src="../js/admin.js" type="text/javascript"></script>
  </body>
</html>
