<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link rel="stylesheet" type="text/css" href="../styles/admin.css" />
  <title>Admin-Requests | Logistics Portal</title>
</head>

<body>
  <header>
    <div class="nav-bar">
      <img src="https://mitrevels.in/logo.png" alt="img" />
      <span class="nav-title">Logistics Portal</span>
      <a href="/admin/items" class="logout">Items</a>
      <a href="/logout" class="logout">Logout</a>
    </div>
  </header>
  <h2 class="main-header">Requests</h2>
  <div id="radios">
    <div id="radio-pending" class="radio">
      <input type="radio" name="req_type" value="pending" onclick="showPending()" checked />Pending
    </div>
    <div id="radio-all" class="radio">
      <input type="radio" name="req_type" value="all" onclick="showAll()" />All
    </div>
    <!-- <div id="filter-cats" class="dropdown">
        <span>Category:</span>
        <select onchange="filterReqs()" id="cat-drop">
          <option value="all" id="-1">Any</option>
          <% categories.forEach((cat) => { %>
          <option value="<%= cat.cat_name %>" id="<%= cat.cat_id %>">
            <%= cat.cat_name %>
          </option>
          <% }) %>
        </select>
      </div> -->
  </div>
  <section name="p-requests">
    <ul class="list" id="search-list">
      <% p_requests.forEach((req) => { %>
      <li>
        <div class="list-item pending" id="<%= req.req_id %>">
          <div class="container">
            <div class="id">
              <div class="title">
                Req ID
              </div>
              <div class="content">
                <%= req.req_id %>
              </div>
            </div>
            <div class="date">
              <div class="title">
                Req Date
              </div>
              <div class="content">
                <%= req.req_date %>
              </div>
            </div>
          </div>
          <div class="hidden item-id" id="<%= req.item_id %>"></div>
          <div class="hidden item-q" id="<%= req.item_q %>"></div>
          <div class="container">
            <div class="item-name">
              <div class="title">
                Item
              </div>
              <div class="content">
                <%= req.item_name %>
              </div>
            </div>
            <div class="item_q">
              <div class="title">
                Quantity
              </div>
              <div class="content">
                <%= req.req_q %>
              </div>
            </div>
          </div>
          <div class="hidden cat_email" id="<%= req.cat_email %>"></div>
          <div class="container">
            <div class="cat-name">
              <div class="title">
                Category
              </div>
              <div class="content">
                <%= req.cat_name %>
              </div>
            </div>
            <div class="btns">
              <% if(req.req_q <= req.item_q) { %>
              <button id="a_btn<%= req.req_id %>" type="" class="a_btn" onclick="showAccept(this.id)">
                Accept
              </button>
              <% } else { %>
              <button type="" class="i_btn">Insufficient Items</button>
              <% } %>
              <button id="r_btn<%= req.req_id %>" type="" class="r_btn" onclick="showReject(this.id)">
                Reject
              </button>
            </div>
          </div>
        </div>
      </li>
      <% }) %>
    </ul>
  </section>
  <section name="a-requests">
    <ul class="list" id="search-list">
      <% a_requests.forEach((req) => { %>
      <li>
        <% if(req.req_status === 'PENDING') { %>
        <div class="list-item pending" id="<%= req.req_id %>">
          <div class="container">
            <div class="id">
              <div class="title">
                Req ID
              </div>
              <div class="content">
                <%= req.req_id %>
              </div>
            </div>
            <div class="date">
              <div class="title">
                Req Date
              </div>
              <div class="content">
                <%= req.req_date %>
              </div>
            </div>
          </div>
          <div class="hidden item-id" id="<%= req.item_id %>"></div>
          <div class="hidden item-q" id="<%= req.item_q %>"></div>
          <div class="container">
            <div class="item-name">
              <div class="title">
                Item
              </div>
              <div class="content">
                <%= req.item_name %>
              </div>
            </div>
            <div class="item_q">
              <div class="title">
                Quantity
              </div>
              <div class="content">
                <%= req.req_q %>
              </div>
            </div>
          </div>
          <div class="hidden cat_email" id="<%= req.cat_email %>"></div>
          <div class="container">
            <div class="cat-name">
              <div class="title">
                Category
              </div>
              <div class="content">
                <%= req.cat_name %>
              </div>
            </div>
            <div class="btns">
              <% if(req.req_q <= req.item_q) { %>
              <button id="a_btn<%= req.req_id %>" type="" class="a_btn" onclick="showAccept(this.id)">
                Accept
              </button>
              <% } else { %>
              <button type="" class="i_btn">Insufficient Items</button>
              <% } %>
              <button id="r_btn<%= req.req_id %>" type="" class="r_btn" onclick="showReject(this.id)">
                Reject
              </button>
            </div>
          </div>
        </div>
        <% } else if(req.req_status === 'ACCEPTED') { %>
        <div class="list-item accepted" id="<%= req.req_id %>">
          <div class="container">
            <div class="id">
              <div class="title">
                Req ID
              </div>
              <div class="content">
                <%= req.req_id %>
              </div>
            </div>
            <div class="date">
              <div class="title">
                Req Date
              </div>
              <div class="content">
                <%= req.req_date %>
              </div>
            </div>
          </div>
          <div class="container">
            <div class="item-name">
              <div class="title">
                Item
              </div>
              <div class="content">
                <%= req.item_name %>
              </div>
            </div>
            <div class="item_q">
              <div class="title">
                Quantity
              </div>
              <div class="content">
                <%= req.req_q %>
              </div>
            </div>
          </div>
          <div class="container">
            <div class="cat-name">
              <div class="title">
                Category
              </div>
              <div class="content">
                <%= req.cat_name %>
              </div>
            </div>
            <div class="btns">
              <button id="return-btn<%= req.req_id %>" class="ret-btn" type="" onclick="returnItem(this.id)">
                Returned
              </button>
            </div>
          </div>
        </div>
        <% } else if(req.req_status === 'REJECTED') { %>
        <div class="list-item rejected" id="<%= req.req_id %>">
          <div class="container">
            <div class="id">
              <div class="title">
                Req ID
              </div>
              <div class="content">
                <%= req.req_id %>
              </div>
            </div>
            <div class="date">
              <div class="title">
                Req Date
              </div>
              <div class="content">
                <%= req.req_date %>
              </div>
            </div>
          </div>
          <div class="container">
            <div class="item-name">
              <div class="title">
                Item
              </div>
              <div class="content">
                <%= req.item_name %>
              </div>
            </div>
            <div class="item_q">
              <div class="title">
                Quantity
              </div>
              <div class="content">
                <%= req.req_q %>
              </div>
            </div>
          </div>
          <div class="container">
            <div class="cat-name">
              <div class="title">
                Category
              </div>
              <div class="content">
                <%= req.cat_name %>
              </div>
            </div>
            <div class="req-reason">
              <div class="title">
                Reason
              </div>
              <div class="content" id="reason">
                <%= req.req_reason %>
              </div>
            </div>
          </div>
        </div>
        <% } %>
      </li>
      <% }) %>
    </ul>
  </section>
  <div id="modal">
    <div id="accept-modal" class="modal-container">
      <div class="close">
        <img src="/images/close-24px.svg" alt="Close" id="close-btn" onclick="closeModal()" />
      </div>
      <div class="modal-header">
        Accept Request
      </div>
      <div class="modal-title">
        Request ID
      </div>
      <div class="modal-content" id="modal-id"></div>
      <div class="modal-title">
        Category
      </div>
      <div class="modal-content" id="modal-cat"></div>
      <div class="modal-title">
        Item
      </div>
      <div class="modal-content" id="modal-item"></div>
      <div class="modal-content hidden" id="modal-item_id"></div>
      <div class="modal-content hidden" id="modal-item_q"></div>
      <div class="modal-content hidden" id="modal-cat_email"></div>
      <div class="modal-content hidden" id="modal-req_date"></div>
      <div class="modal-title">
        Quantity
      </div>
      <div class="modal-content" id="modal-q"></div>
      <button type="button" onclick="acceptReq()" id="accept-btn">
        Confirm
      </button>
    </div>
    <div id="reject-modal" class="modal-container">
      <div class="close">
        <img src="/images/close-24px.svg" alt="Close" id="close-btn" onclick="closeModal()" />
      </div>
      <div class="modal-header">
        Reject Request
      </div>
      <div class="modal-title">
        Request ID
      </div>
      <div class="modal-content" id="modal-id-r"></div>
      <div class="modal-title">
        Category
      </div>
      <div class="modal-content" id="modal-cat-r"></div>
      <div class="modal-title">
        Item
      </div>
      <div class="modal-content" id="modal-item-r"></div>
      <div class="modal-content hidden" id="modal-item_id-r"></div>
      <div class="modal-content hidden" id="modal-item_q-r"></div>
      <div class="modal-content hidden" id="modal-cat_email-r"></div>
      <div class="modal-content hidden" id="modal-req_date-r"></div>
      <div class="modal-title">
        Quantity
      </div>
      <div class="modal-content" id="modal-q-r"></div>
      <div class="modal-title">
        Reason
      </div>
      <div class="modal-textarea" id="modal-reason">
        <textarea id="req-reason" placeholder="Reason"></textarea>
      </div>
      <button type="button" onclick="rejectReq()" id="reject-btn">
        Confirm
      </button>
    </div>
  </div>
  <script src="../js/admin.js" type="text/javascript"></script>
</body>

</html>