@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css?family=Ubuntu:400,700,500&display=swap");

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

img {
  max-height: 100%;
  margin-left: 30px;
}

body {
  font-family: "Ubuntu", sans-serif;
  background-color: rgb(50, 50, 50);
}

hr {
  width: 98%;
  margin: 0 auto;
  height: 0.5vh;
  background-color: rgb(75, 75, 75);
  border: none;
  border-radius: 10px;
}

section[name="list"] {
  margin: 10px 18px;
}

li {
  list-style-type: none;
}

.nav-bar {
  width: 100%;
  height: 5vh;
  position: sticky;
  background-color: rgb(75, 75, 75);
  padding: 5px 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.nav-title {
  flex: 2;
  font-size: 30px;
  font-weight: bold;
  margin-left: 20px;
  color: beige;
}

.logout {
  margin-right: 20px;
  font-size: 20px;
  color: beige;
}

.main-redirect {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.redirect {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.redirect a {
  font-size: 1.8rem;
  color: beige;
  min-width: 200px;
  padding: 10px;
  border: 3px solid beige;
  border-radius: 10px;
  margin: 10px 0;
  text-align: center;
}

.redirect a:hover {
  background-color: rgb(30, 30, 30);
}

/* -------------------------- ITEM PAGE --------------------------*/

.main-header {
  font-weight: 500;
  font-size: 3rem;
  color: beige;
  margin: 20px 15px;
}

section[name="items"] {
  margin: 10px 18px;
}

.input {
  font-family: "Ubuntu", sans-serif;
  box-sizing: border-box;
  margin: 0 10px;
  width: 98.5%;
  border: none;
  border-radius: 20px;
  font-size: 1.6rem;
  padding: 15px 20px;
}

li {
  list-style-type: none;
}

.list-item {
  background-color: rgb(75, 75, 75);
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  margin: 20px 10px;
}

.hidden {
  display: none;
}

.list-item > div {
  padding: 10px 20px;
  min-width: 20%;
}

.title {
  font-size: 2vh;
  color: beige;
  margin: 5px;
}

.content {
  font-size: 3vh;
  color: beige;
  margin: 5px;
  font-weight: bold;
}

.list-item button {
  border: none;
  border-radius: 10px;
  padding: 10px;
  color: beige;
  min-width: 200px;
  text-align: center;
  font-size: 1.2rem;
}

.update-btn {
  background-color: rgb(100, 100, 100);
}

.update-btn:hover {
  background-color: rgb(90, 90, 90);
}

.delete-btn {
  background-color: rgb(212, 66, 66);
  margin-left: 10px;
}

.delete-btn:hover {
  background-color: rgb(184, 54, 54);
}

#modal-update-btn {
  background-color: rgb(100, 100, 100);
}

#modal-update-btn:hover {
  background-color: rgb(90, 90, 90);
}

#modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-container {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: none;
  border-radius: 10px;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.close {
  width: 100%;
}

#close-btn {
  float: right;
}

.modal-header {
  font-size: 1.3rem;
  margin-bottom: 10px;
  font-weight: 500;
}

.modal-title {
  font-size: 0.8rem;
  margin-bottom: 2px;
}

.modal-content {
  font-size: 1.1rem;
  margin-bottom: 10px;
  font-weight: 500;
}

#update-q {
  font-size: 1.1rem;
  padding: 10px 10px;
  background-color: rgba(30, 30, 30, 0.3);
  border: none;
  border-radius: 10px;
  margin-top: 5px;
  margin-bottom: 10px;
  text-align: center;
  width: 90%;
}

#modal-update-btn {
  border: none;
  border-radius: 10px;
  font-size: 1.1rem;
  padding: 10px;
  background-color: rgb(50, 50, 50);
  color: white;
  min-width: 100%;
  margin-top: 10px;
}

#modal-update-btn:hover {
  background-color: rgb(30, 30, 30);
}

#modal-delete-btn {
  border: none;
  border-radius: 10px;
  font-size: 1.1rem;
  padding: 10px;
  background-color: rgb(50, 50, 50);
  color: white;
  min-width: 100%;
  margin-top: 10px;
}

#modal-delete-btn:hover {
  background-color: rgb(30, 30, 30);
}

/* -------------------- REQUEST PAGE ----------------------- */

section[name="a-requests"] {
  display: none;
}

#radios {
  margin: 10px 20px;
  font-size: 1.6rem;
}

.radio {
  font-size: 1.6rem;
  color: beige;
  margin-right: 20px;
  display: inline;
}

input[name="req_type"] {
  margin-right: 10px;
}

.pending {
  border: solid 5px rgb(187, 173, 45);
}

.accepted {
  border: solid 5px rgb(73, 187, 45);
}

.rejected {
  border: solid 5px rgb(187, 45, 45);
}

.r_btn {
  background-color: rgb(212, 66, 66);
  margin-top: 10px;
  margin-left: 10px;
}

.r_btn:hover {
  background-color: rgb(184, 54, 54);
}

.a_btn {
  background-color: rgb(27, 167, 46);
  margin-top: 10px;
}

.a_btn:hover {
  background-color: rgb(24, 141, 39);
}

.i_btn {
  background-color: rgb(187, 173, 45);
}

#accept-modal {
  display: none;
}

#reject-modal {
  display: none;
}

#accept-btn {
  border: none;
  border-radius: 10px;
  font-size: 1.1rem;
  padding: 10px;
  background-color: rgb(50, 50, 50);
  color: white;
  min-width: 100%;
  margin-top: 10px;
}

#accept-btn:hover {
  background-color: rgb(30, 30, 30);
}

.modal-textarea {
  width: 100%;
}

#req-reason {
  border: none;
  border-radius: 10px;
  height: 150px;
  background-color: rgba(30, 30, 30, 0.3);
  font-size: 1.1rem;
  padding: 10px 10px;
  width: 100%;
  box-sizing: border-box;
  margin-top: 5px;
  margin-bottom: 15px;
}

#reject-btn {
  border: none;
  border-radius: 10px;
  font-size: 1.1rem;
  padding: 10px;
  background-color: rgb(50, 50, 50);
  color: white;
  min-width: 100%;
  margin-top: 10px;
}

#reject-btn:hover {
  background-color: rgb(30, 30, 30);
}

#filter-cats {
  display: inline;
  margin-left: 30px;
  color: white;
}

#filter-cats span {
  margin-right: 10px;
}

#cat-drop {
  width: 150px;
  padding: 5px 35px 5px 5px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  height: 34px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: rgb(100, 100, 100);
  color: white;
}

.ret-btn {
  margin-top: 10px;
  background-color: rgb(216, 121, 66);
}

.ret-btn:hover {
  background-color: rgb(184, 102, 48);
}

@media screen and (max-width: 801px) {
  img {
    margin-left: 15px;
  }

  hr {
    width: 90%;
  }

  .nav-title {
    font-size: 15px;
    margin-left: 5px;
  }

  .logout {
    margin-right: 15px;
    font-size: 12px;
  }

  .main-header {
    font-size: 2.5rem;
  }

  .list-item {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .delete-btn {
    margin-top: 10px;
    margin-left: 0px;
  }

  #input_item {
    width: 95%;
  }

  .r_btn {
    margin-left: 0px;
  }

  .modal-container {
    width: 75%;
  }
}
