@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css?family=Ubuntu:400,700,500&display=swap");

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

img {
  max-height: 100%;
  margin-left: 30px;
}

body {
  font-family: "Ubuntu", sans-serif;
  background-color: rgb(50, 50, 50);
}

hr {
  width: 98%;
  margin: 0 auto;
  height: 0.5vh;
  background-color: rgb(75, 75, 75);
  border: none;
  border-radius: 10px;
}

section[name="list"] {
  margin: 10px 18px;
}

li {
  list-style-type: none;
}

.nav-bar {
  width: 100%;
  height: 5vh;
  position: sticky;
  background-color: rgb(75, 75, 75);
  padding: 5px 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.nav-title {
  flex: 2;
  font-size: 3vh;
  font-weight: bold;
  margin-left: 20px;
  color: beige;
}

.logout {
  margin-right: 20px;
  font-size: 2vh;
  color: beige;
}

.req {
  background-color: rgb(75, 75, 75);
  margin: 16px;
  border-radius: 10px;
  padding: 20px 30px;
  box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.1);
}

.req-form {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  width: 100%;
  overflow: hidden;
  padding-bottom: 10px;
}

.req-form h2 {
  font-weight: 500;
  width: 100%;
  display: block;
  font-size: 4vh;
  margin-bottom: 20px;
  color: beige;
}

.req-form input {
  box-sizing: border-box;
  width: 48%;
  margin-right: 20px;
  margin-bottom: 20px;
  border-radius: 30px;
  border: none;
  height: 50px;
  padding: 0 20px;
  font-size: 20px;
  box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.1);
  background-color: beige;
}

.req-form .inputs {
  width: 100%;
  align-content: center;
}

.req-form button {
  padding: 10px 10px;
  width: 100%;
  flex: 1;
  height: 50px;
  border-radius: 30px;
  border: none;
  color: beige;
  background-color: rgb(101, 189, 79);
  box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.1);
  font-size: 20px;
}

.req-form button:hover {
  background-color: rgb(93, 170, 73);
}

.list-item {
  background-color: rgb(75, 75, 75);
  padding: 10px;
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  margin-bottom: 3vh;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
}

.box {
  width: 20%;
}

.list-item > div {
  padding: 10px 20px;
}

.title {
  font-size: 2vh;
  color: beige;
  margin: 5px;
}

.content {
  font-size: 3vh;
  color: beige;
  margin: 5px;
  font-weight: bold;
}

.req-reason {
  flex: 0.5;
}

.req-reason .content {
  font-size: 2.2vh;
  font-weight: 500;
}

.pending {
  border: solid 5px rgb(187, 173, 45);
}

.accepted {
  border: solid 5px rgb(73, 187, 45);
}

.rejected {
  border: solid 5px rgb(187, 45, 45);
}

.main-header {
  font-weight: 500;
  font-size: 5vh;
  color: beige;
  margin: 20px 15px;
}

.header {
  font-weight: 500;
  font-size: 4vh;
  color: beige;
  margin-bottom: 15px;
  margin-left: 15px;
}

#search-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 10px;
}

.search-item {
  width: auto;
  background-color: rgb(100, 100, 100);
  font-size: 20px;
  padding: 10px 20px;
  margin-bottom: 10px;
  border-radius: 10px;
  color: beige;
}

.item-hidden {
  display: none;
}

.hidden {
  display: none;
}

.req-cancel {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cancel-btn {
  font-family: "Ubuntu", sans-serif;
  border: none;
  border-radius: 10px;
  background-color: rgb(187, 45, 45);
  font-size: 1.3rem;
  color: white;
  font-weight: 500;
  padding: 10px 20px;
}

@media screen and (max-width: 801px) {
  img {
    margin-left: 10px;
  }

  hr {
    width: 90%;
  }

  .nav-title {
    font-size: 3vh;
    margin-left: 5px;
  }

  .logout {
    margin-right: 10px;
    font-size: 15px;
  }

  .req-form {
    flex-direction: column;
    align-items: center;
  }

  .req-form h2 {
    text-align: center;
  }

  .req-form input {
    font-size: 20px;
    padding: 10px;
    margin-right: 0px;
    width: 95%;
    padding-left: 20px;
    margin-bottom: 20px;
  }

  .req-form button {
    width: 200px;
    flex: 3;
    padding: 10px 0px;
    margin-bottom: 10px;
  }

  .list-item {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .box {
    width: unset;
  }

  .header {
    text-align: center;
    margin: 20px 0;
  }

  .req-q {
    display: none;
  }
}

@media screen and (min-width: 415px) and (max-width: 801px) {
  .nav-bar {
    height: 4vh;
  }
}
