@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css?family=Ubuntu:400,700,500&display=swap");

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

img {
  max-height: 100%;
  margin-left: 30px;
}

body {
  font-family: "Ubuntu", sans-serif;
  background-color: rgb(50, 50, 50);
}

li {
  list-style-type: none;
}

.nav-bar {
  width: 100%;
  height: 5vh;
  position: sticky;
  background-color: rgb(75, 75, 75);
  padding: 5px 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.nav-title {
  flex: 2;
  font-size: 3vh;
  font-weight: bold;
  margin-left: 20px;
  color: beige;
}

.main-container {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 600px;
  display: flex;
  flex-direction: column;
  margin-top: -200px;
  margin-left: -300px;
  padding: 10px;
  border-radius: 10px;
  background-color: rgb(75, 75, 75);
  box-shadow: 0px 5px 8px rgb(30, 30, 30);
}

.header {
  font-size: 1.6rem;
  font-weight: 500;
  color: beige;
}

.pass-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  margin-bottom: 10px;
}

.pass-form input {
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  font-size: 1.6rem;
  font-family: "Ubuntu", sans-serif;
}

.pass-form button {
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 10px;
  border: none;
  border-radius: 10px;
  background-color: rgb(100, 100, 100);
  padding: 10px;
  font-size: 1.4rem;
  font-family: "Ubuntu", sans-serif;
  color: beige;
}

.pass-form button:hover {
  background-color: rgb(90, 90, 90);
}

.pass-form a {
  font-size: 1rem;
  color: beige;
  font-family: "Ubuntu", sans-serif;
}

@media screen and (max-width: 801px) {
  img {
    margin-left: 10px;
  }

  hr {
    width: 90%;
  }

  .nav-title {
    font-size: 3vh;
    margin-left: 5px;
  }

  .logout {
    margin-right: 10px;
    font-size: 15px;
  }
}
